In [ ]:
import sqlite3 as sql

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('''create table if not exists students(id integer primary key,
                        name text not null,
                        age integer not null)''')

In [ ]:
def show_table():
    cursor.execute('''select name from sqlite_master where type="table"''')
    return cursor.fetchall()
print(show_table())

In [ ]:
cursor.execute('''insert into students values(100, "alice",22)''')

In [ ]:
def show_record(table_name):
    cursor.execute('''select * from {}'''.format(table_name))
    return cursor.fetchall()
print(show_record('students'))

In [ ]:
_id = 101
_name = "Bob"
_age = 23
cursor.execute('''insert into students values(?,?,?)''',(_id,_name,_age))

In [ ]:
print(show_record('students'))

In [ ]:
_id = 102
_name = "Peter"
_age = 25
cursor.execute('''insert into students values(?,?,?)''',(_id,_name,_age))

In [ ]:
print(show_record('students'))

In [ ]:
students = [(103,"charles",26),(104,"David",20),(105,"Eugene",27)]
cursor.executemany('''insert into students values(?,?,?)''',students)