In [96]:
import numpy as np
import pandas as pd

In [6]:
pd.__version__

'0.24.2'

In [22]:
x = pd.Series([40,52,41,61,98,42,36],index=['a','b','c','d','e','f','g'])
x

a    40
b    52
c    41
d    61
e    98
f    42
g    36
dtype: int64

In [23]:
x['c']

41

In [29]:
dicta = {"cal":(2,4,5,8,9),"sing":('my name is tiger'),"anyvalue":[41,52,66,56,6,45]}
x = pd.Series(dicta)
x

cal                 (2, 4, 5, 8, 9)
sing               my name is tiger
anyvalue    [41, 52, 66, 56, 6, 45]
dtype: object

In [44]:
Marksheet_dict = {'student1':(78 ,82),'student2':(64,52),'student3':(85,74),'student4':(62,84)}
a = pd.Series(Marksheet_dict)
subject_dict = {'student1': }

student1    (78, 82)
student2    (64, 52)
student3    (85, 74)
student4    (62, 84)
dtype: object

In [79]:
x = pd.DataFrame(np.array([[82,74,91,68],[85,74,65,62],[72,79,81,86]]),columns=['maths','english','science','marathi'],index=['student1','student2','student3'])
x['total'] = x['maths']+x['english']+x['science']+x['marathi']

x['precentage'] = x['total']/500*100

print(x)

          maths  english  science  marathi  total  precentage
student1     82       74       91       68    315        63.0
student2     85       74       65       62    286        57.2
student3     72       79       81       86    318        63.6

In [88]:
x.iloc[2,3]

86

In [91]:
x.loc[:'student2', : 'science']

          maths  english  science
student1     82       74       91
student2     85       74       65

In [93]:
x.ix[: 'student2',:3]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          maths  english  science
student1     82       74       91
student2     85       74       65

In [66]:
x = pd.Series([0.25,0.5,0.75,0.85,1,1.5,2,2.8,3], index=['A','B','C','D','E','F','G','H','I'])
x

A    0.25
B    0.50
C    0.75
D    0.85
E    1.00
F    1.50
G    2.00
H    2.80
I    3.00
dtype: float64

In [57]:
x[3]

0.85

In [58]:
x[1:6]

B    0.50
C    0.75
D    0.85
E    1.00
F    1.50
dtype: float64

In [60]:
x[(x>1)&(x<3)]

F    1.5
G    2.0
H    2.8
dtype: float64

In [61]:
2 in x

False

In [63]:
'A' in x

True

In [64]:
'c'in x

False

In [116]:
x = pd.DataFrame(np.random.randint(0,50,(6,2)),columns=['distance','time'],index=['trip1','trip2','trip3','trip4','trip5','trip6'])
x['speed'] = x['distance']/x['time']
print(x)

       distance  time      speed
trip1        20     1  20.000000
trip2        12    27   0.444444
trip3        11    27   0.407407
trip4        26    14   1.857143
trip5        12    27   0.444444
trip6        23     8   2.875000

NameError: name 'trip3' is not defined